/* a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid grey;
  margin: 10px;
  transition: background-color 1s, box-shadow 1s;
}

a:hover {
  background-color: aquamarine;
   Додали тінь 
  box-shadow: 0 0 3px black;
} */
* {
  box-sizing: border-box;
}
body {
  background-color: orange;
}

header {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

/* header:hover {
  filter: blur(0);
} */

.blur-bg {
  position: absolute;
  background: url(https://klike.net/uploads/posts/2019-05/1556708032_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  filter: blur(3px);
  transition: filter 1s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

h1 {
  transition: filter 1s;
}

h1:hover {
  filter: blur(3px);
}

h1:hover + .blur-bg {
  filter: blur(0);
}
